[submodule "edsf-website/src/EDSF.wiki"]
	path = edsf-website/src/EDSF.wiki
	url = https://github.com/EDISONcommunity/EDSF.wiki.git
[submodule "edsf-website/EDSF.wiki"]
	path = edsf-website/EDSF.wiki
	url = https://github.com/EDISONcommunity/EDSF.wiki.git
